.button-width {
  width: 100%;
}
.btn-margin {
  color: rgb(99, 115, 129);
  margin: 0 0 0.75rem 0.75rem;
}
.purchase {
  color: rgb(122, 65, 0);
  background: linear-gradient(
      135deg,
      rgba(255, 214, 102, 0.2),
      rgba(255, 171, 0, 0.2)
    )
    rgb(255, 255, 255);
}
.sales {
  color: rgb(0, 167, 111);
  background: #00a76f29;
}
.unsold {
  color: rgb(122, 65, 0);
  background: linear-gradient(
      135deg,
      rgba(255, 172, 130, 0.2),
      rgba(255, 86, 48, 0.2)
    )
    rgb(255, 255, 255);
}
.report {
  color: rgb(0, 167, 111);
  background: #00a76f29;
}
